.Enter {
	margin-right: 30px;
	display: flex;
	gap: 20px;
}

.EnterBtn:hover {
	background-color: var(--active-bg);
}

.NavItem {
	color: var(--secondary-txt-cl);
	font-size: 14px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	padding: 18px 16px;
}

@media screen and (max-width: 768px) {
	.NavItem {
		padding: 8px 16px;
	}

	.Enter {
		margin-right: 5px;
		gap: 5px;
	}
}

.EnterBtn {
	font-size: 14px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	padding: 18px 16px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	background-color: transparent;
	border: none;
	color: var(--secondary-txt-cl);
	text-transform: uppercase;
}