.Pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 5px;
  padding-bottom: 30px;
}

.Pagination .PageNum {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 500;
}

.Pagination .PageNum:hover {
  background-color: #475974;
  color: white;
}

.Pagination .Active {
  background-color: #2d394b;
  color: white;
}

.GalleryContainer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
	.Pagination {
		font-size: 14px;
	 }

	 .Pagination .PageNum {
		padding: 4px 7px;
		cursor: pointer;
		border-radius: 3px;
		font-weight: 500;
	 }
 }