.Header {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--header-bg);
  width: 100%;
  height: 55px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav {
  display: flex;
  height: 100%;
  font-size: 11px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.NavItem {
  color: var(--secondary-txt-cl);
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0px 6px;

  &:first-child {
    padding-left: 10px;
  }
}
