.Header {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  background-color: var(--header-bg);
  width: 100%;
  height: 55px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.Enter {
  margin-right: 30px;
  display: flex;
  gap: 20px;
}

.EnterBtn {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 18px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  background-color: transparent;

  border: none;

  color: var(--secondary-txt-cl);

  text-transform: uppercase;
}

.EnterBtn:hover {
  background-color: var(--active-bg);
}

nav {
  display: flex;
}

.NavItem {
  color: var(--secondary-txt-cl);
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 18px 16px;
}

.FooterContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
