.SectionTitle {
  margin: 0;
}

.Section {
  padding: 20px 10px 15px 15px;
}

.SectionHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DetailPageContainer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 100vw;
  height: 90vh;
}

.BtnContainer {
  display: flex;
  gap: 20px;
}

.Btn {
  background-color: var(--header-bg);
  color: var(--secondary-txt-cl);
  font-weight: 500;

  border: none;
  outline: none;
  cursor: pointer;

  padding: 8px;
}

.InfoContainer {
  margin-left: 100px;
  padding-top: 10px;
}

/* Search page */
.List {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 15px;
}

@media screen and (max-width: 760px) {
  .List {
    margin-top: 50px;
  }
}

.ListItem:hover {
  transform: scale(1.002);
}

.Title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.ItemInfo {
  display: flex;
  gap: 3px;
  font-size: 13px;
  color: var(--main-txt-cl);
}

.Date {
  display: flex;
  gap: 4px;
}

.FailMessage {
  text-align: center;
  font-size: 26px;
  color: var(--secondary-txt-cl);
}

.SearchGanresContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;

  margin: 10px;
}
