.GenresContainer {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
  font-size: 17px;
  color: var(--secondary-txt-cl);

  @media screen and (min-width: 760px) {
    left: 340px;
    top: 66px;
  }
}

.GenresList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Genre {
  background-color: var(--footer-bg);
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.GenreSelected {
  background-color: var(--footer-bg);
  padding: 8px;
  background-color: var(--accent-cl);
  color: var(--main-txt-cl);
}

.Genre:hover {
  background-color: rgb(31, 108, 108);
}

.DropdownInput {
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 3px;
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  width: 150px;
  background-color: var(--footer-bg);
  cursor: pointer;
}

.DropdownMenu {
  z-index: 2;
  width: 165px;
  height: 300px;
  margin-left: 10px;
  transition: var(--animation);
  border: 1px solid var(--accent-cl);
  overflow: auto;
  background-color: var(--footer-bg);
  display: flex;
  flex-direction: column;
}

.DropdownItem {
  padding: 5px 8px;
  cursor: pointer;
  transition: var(--animation);
}

.DropdownItem:hover {
  background-color: rgb(31, 108, 108);
}

.DropdownItemSelected {
  padding: 5px;
  cursor: pointer;
  background-color: var(--accent-cl);
  color: var(--main-txt-cl);
}
