.Form {
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 3px;
  border: none;

  @media screen and (max-width: 768px) {
  }
}

.Input {
  width: 200px;
  padding: 12px 15px;

  float: left;
  color: #ccc;
  border: none;
  background-color: var(--footer-bg);
  border-radius: 3px 0 0 3px;
}

.Input:focus {
  outline: 0;
}

.SubmitBtn {
  float: right;

  cursor: pointer;
  height: 39px;
  width: 70px;
  color: #fff;
  background-color: var(--footer-bg);
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: 1px solid #fff;
  outline: none;

  border-radius: 0 3px 3px 0;
}

.SubmitBtn:hover {
  color: #d15fcf;
}

.SubmitBtn:active {
  box-shadow: 0px 0px 1px 0px rgba(225, 225, 225, 1);
}

.SubmitBtn:focus {
  outline: 0;
}
