.slick-prev {
  left: 4% !important;
  z-index: 1;
  top: 40%;
}

.slick-next {
  right: 4% !important;
  z-index: 1;
  top: 40%;
}

.slick-prev:before,
.slick-next:before {
  font-size: 35px;
  opacity: 0.4;
  color: white;
}
