.FilmList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Film {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 8px;
  margin-bottom: 15px;
  width: 208px;
  height: 306px;
}

.Image {
  width: 208px;
  height: 306px;
  object-fit: cover;
  object-fit: cover;
  transition: var(--animation);
}

.Image:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}
